<div id="search_results_page_<%= params[:page] || 1 %>">
	<div class="toolbar">
	  <h1>Search Results</h1>
		<a class="button back" href="#search">Search</a>
		<a class="button" href="#search">Home</a>
	</div>
	<ul class="rounded" id="results">
	  <% @people.each do |person| %>
		  <li class="arrow"><%= link_to(person.name_with_nick, person) %></li>
	  <% end %>
	</ul>
	<% if @people.total_entries > @people.length %>
  	<ul class="edgetoedge">
  	  <li>Showing <%= @people.offset %>-<%= @people.offset + 49 %> of <%= number_with_delimiter(@people.total_entries) %></li>
  	</ul>
	<% end %>
	<ul class="rounded" id="results">
	  <li class="arrow"><%= link_to('Next', params.slice(:controller, :action, :name).merge(:page => params[:page] ? params[:page].to_i + 1 : 2)) %></li>
	  <% if params[:page] && params[:page].to_i > 1 %>
  	  <li class="back_arrow"><%= link_to('Previous', params.slice(:controller, :action, :name).merge(:page => params[:page].to_i - 1)) %></li>
  	<% end %>
	</ul>
</div>
